/**
 * @author:  Vladimir Starkov
 * @mail:    matmuchrapna@gmail.com
 * @twitter: @matmuchrapna
 */

html {
    font-size: 62.5%; /* 1 */
    -webkit-text-size-adjust: 62.5%; /* 2 */
    -ms-text-size-adjust: 62.5%; /* 2 */
}

body {
    font-size: 62.5%;
   
    font-size: 16px;
    font-size: 1.6rem;
}

.wrap {
	max-width: 1545px;
	margin: 0 auto;
}

.header {
	padding: 16px 0 18px;
}

.logo {
	display: block;
	float: left;
}

.menu {
	float: right;
	display: block;
	font-family: 'PT Sans', sans-serif;
	color: #000;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
}

.menu__item {
	float: left;
}

.menu__item + .menu__item {
	margin-left: 24px;
}

.menu__link {
	color: inherit;
	text-decoration: none;
}


.menu__link:hover {
	color: darkviolet;
}









